#hidden-button {
    display: none;
}

.custom-align {
    text-align: center;
}

.custom-top {
    margin-top: 10%;
}

.custom-error-message {
    color: red;
    text-align: center;
}

.custom-input {
    width: 30%;
    margin: auto;
    margin-top: 2%;
}

.custom-btn-top {
    margin-top: 5%;
}