.row {
    margin: 8% auto;
}

.card {
    text-align: center;
    box-shadow: 3px 3px 3px 3px gray;
    border-radius: 20px;
}

h6 {
    font-size: large;
}

.card-header {
    background: #159957;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;

    border-radius: 20px 20px 0px 0px;
}

.card-footer {
    background: #159957;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #155799, #159957);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #155799, #159957);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;

    border-radius: 0px 0px 20px 20px;
    font-size: small;
}

.input-group {
    width: 80%;
    margin: 2% auto;
}

.custom-error {
    color: red;
}

.custom-help {
    margin-left: 68%;
    color: #155799;
    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }
}